# K-NN Regression from Scratch

In [1]:
import numpy as np
import pandas as pd

In [2]:
import os 
os.chdir('C:\\Users\\cance')

Here i am using a dataset which is saved in a file named knn which has two sheets namely train and test. the data is pre-splitted into train and test and also the data has been pre minmax scaled.

In [3]:
df_knn_train = pd.read_excel('knn.xlsx',sheet_name = 'train') #reading in the train the data.

In [4]:
df_knn_train.head() #checking the top few rows of train data

         X1        X2        X3         y
0 -0.059533  0.763686  0.317046 -0.070229
1  1.916473 -0.378508 -0.411538  1.887648
2 -0.237390 -0.244097 -1.053888 -0.316625
3 -0.579256  0.135478 -0.507913 -0.627537
4  0.873726 -1.569405  0.435819  0.987233

In [5]:
df_knn_train.shape #checking the shape of train data

(719, 4)

In [6]:
df_knn_test = pd.read_excel('knn.xlsx',sheet_name = 'test')  #reading in the test data

In [7]:
df_knn_test.head()  #checcking the first few rows of test data

         X1        X2        X3         y
0  0.295855  0.145806  1.381112  0.408699
1  1.461282  0.807982 -1.021636  1.320564
2 -1.487283  0.294966 -1.093920 -1.589954
3  1.061516  1.475837 -0.987645  0.892074
4 -0.189910 -0.100671 -1.146587 -0.284978

In [8]:
df_knn_test.shape   #checking theshape of test data

(281, 4)

In [9]:
#splitting the features for both test and train dataset
X_train = df_knn_train[['X1','X2','X3']] 
X_test = df_knn_test[['X1','X2','X3']]

In [10]:
#checking the shape of features for train and test dataset
X_train.shape,X_test.shape

((719, 3), (281, 3))

In [11]:
#splitting the label for both train and test dataset
y_train = df_knn_train[['y']]
y_test = df_knn_test[['y']]

In [12]:
#checking the shape of train and test labels
y_train.shape,y_test.shape

((719, 1), (281, 1))

Here I am using 10 rows from test dataset and 100 rows from train dataset as the kernel was unable to process such huge data.

In [13]:
y_pred_list = []  #declaring an empty list to append the predictions
for i in range(0,10): #first ten rows of test data
    df_list = []
    for j in range(0,100): #first hundred rows of train data
        dist = np.sqrt((X_test.X1[i] - X_train.X1[j])**2 + (X_test.X2[i] - X_train.X2[j])**2 + (X_test.X3[i] - X_train.X3[j])**2)
        #calculating the distance of each test dataset wrt to train dataset
        df_list = df_list + [dist] #creating a list of all distances of test wrt train
    df_list_s = np.argsort(df_list) #sorting and getting the index of the rows corresponding to nearest 3 neighbor rows
    e=1
    add = 0
    while(e<4):
        add = df_knn_train.iloc[df_list_s[0],3] + df_knn_train.iloc[df_list_s[1],3] + df_knn_train.iloc[df_list_s[2],3]
        #calculating the sum of nearest 3 distances
        e += 1
    y_pred = add/3 #calculating the average of nearest distances
    y_pred_list = y_pred_list + [y_pred]  #creating a list of predicted values for each test dataset

In [14]:
y_pred_arr = np.array(y_pred_list)
y_act_arr = np.array(df_knn_test.iloc[0:10,3])
y_act_arr #array of actual test labels

array([ 0.40869854,  1.3205642 , -1.58995375,  0.89207373, -0.28497806,
       -0.65107017,  0.48509891, -0.44681526,  0.15576049,  0.12323039])

In [15]:
#array of predicted test labels
y_pred_arr

array([ 0.55494577,  1.74601783, -1.5389913 ,  0.79837905, -0.34657544,
       -1.00907783,  0.13078673, -0.58251659,  0.42986303,  0.02703537])

In [16]:
#calculating MAPE
MAPE = np.sum(np.absolute((y_act_arr - y_pred_arr)/y_act_arr))/10
MAPE

0.5157598577908873

MAPE for the test data is 0.5157598577908873

# K-NN Regression by using sklearn.neighbors library.

In [17]:
from sklearn.neighbors import KNeighborsRegressor  #import KNN Regressor package from sklearn library

In [18]:
df_train = pd.read_excel('knn.xlsx',sheet_name = 'train')  #reading in the train data

In [19]:
df_train.head()  #getting the first few rows of train dataset

         X1        X2        X3         y
0 -0.059533  0.763686  0.317046 -0.070229
1  1.916473 -0.378508 -0.411538  1.887648
2 -0.237390 -0.244097 -1.053888 -0.316625
3 -0.579256  0.135478 -0.507913 -0.627537
4  0.873726 -1.569405  0.435819  0.987233

In [20]:
df_train.tail()   #getting last few rows of train dataset

           X1        X2        X3         y
714  0.893850  0.533300  0.400137  0.896421
715 -0.205388  1.016971 -1.368106 -0.377172
716  0.408903  0.780158  0.527107  0.413051
717  1.472088 -0.108659  0.748379  1.534758
718  0.218200 -1.420519 -1.443651  0.161923

In [68]:
df_train.isna().sum()  #checking for missing values in the train dataset

X1    0
X2    0
X3    0
y     0
dtype: int64

In [21]:
df_train.shape   #checking the shape for the train dataset

(719, 4)

In [22]:
df_test = pd.read_excel('knn.xlsx',sheet_name = 'test')   #reading in the test dataset

In [23]:
df_test.head()  #getting the first few rows of the test dataset

         X1        X2        X3         y
0  0.295855  0.145806  1.381112  0.408699
1  1.461282  0.807982 -1.021636  1.320564
2 -1.487283  0.294966 -1.093920 -1.589954
3  1.061516  1.475837 -0.987645  0.892074
4 -0.189910 -0.100671 -1.146587 -0.284978

In [24]:
df_test.tail()   #getting the last few rows of the test dataset

           X1        X2        X3         y
276 -0.382505 -0.435133 -1.553510 -0.495246
277 -1.247482  0.404737  0.421076 -1.223280
278  1.031076 -0.169142  1.234853  1.142579
279 -0.712677  0.803115  0.479940 -0.706962
280  0.226365 -0.152631 -1.801509  0.073477

In [25]:
df_test.shape  #checking the shape of test dataset

(281, 4)

In [55]:
df_train = pd.DataFrame(df_train.iloc[0:100,:])   #considering first  rows for train

In [56]:
df_test = pd.DataFrame(df_test.iloc[0:10,:])   #considering first  rows for test

In [57]:
#splitting the features for both train and test dataset
X_test = df_test[['X1','X2','X3']]
X_train = df_train[['X1','X2','X3']]

In [58]:
X_test.shape

(10, 3)

In [59]:
#splitting the labels for both train and test dataset
y_train = df_train[['y']]
y_test = df_test[['y']]

In [60]:
#setting tnumber of nearest neighbors to 3
k = 3
knn = KNeighborsRegressor(n_neighbors = k)  #instatntiating the KNeighborsRegressor

In [61]:
model_knn = knn.fit(X_train,y_train)   #fitting the model for train dataset
preds = model_knn.predict(X_train)   #making predictions for train features

In [62]:
type(preds)

numpy.ndarray

In [63]:
y_train_arr = np.array(y_train)   #converting the train label from dataframe to numpy array

In [64]:
#calculating train Mean Absolute Percentage Error
MAPE = np.sum(np.absolute((y_train_arr - preds)/y_train_arr))/len(y_train_arr)
MAPE

0.5681659648995504

In [65]:
#making predictions for test dataset using the earlier fitted knn model
pred_test = model_knn.predict(X_test)
len(pred_test)

10

In [66]:
#converting the test label from dataframe to numpy array
y_test_arr = np.array(y_test)
len(y_test_arr)

10

In [67]:
#calculating test Mean Absolute Percentage Error
MAPE_test = np.sum(np.absolute((y_test_arr - pred_test)/y_test_arr))/len(y_test_arr)
MAPE_test

0.5157598577908873

The MAPE for test dataset is 0.5157598577908873.

MAPE for test dataset without using sklearn library is 0.5157598577908873 and MAPE for test using the sklearn library is 0.5157598577908873.
This implies that the model we did without using the sklearn library is correct.